{% extends 'base.html' %}

{% block head %}
<title>Density Estimation</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
{% endblock %}

{% block body %} 
<br><br><br><br>
<div class="container">
    <div class="jumbotron">
        <h1>Estimating Cell Density</h1>
        <p>This application takes an SVG file of circle objects and estimates the density of the objects' coordinates. It then outputs the density map as an SVG file.</p>
        <form action="/" method="POST" enctype="multipart/form-data">
            <input type="file" name="SVG" id="SVG" accept=".svg" >
            <br>
            <button type="submit" class="btn btn-warning">Run</button> <!-- id="compute" onclick="getDensityMap()" -->
        </form>
        <br>
        {% if download == True %}
        <button class="btn btn-warning"><a href="{{url_for('download_file')}}">Download</a></button>
        {% endif  %}
    </div>
</div>
<div class="content">
    <!--{% if tasks|length < 1 %} 
    <h4>There are no tasks yet. Enter one below.</h4>
    {% else %}
    <table>
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="/delete/{{ task.id }}">Delete</a>
                <a href="/update/{{ task.id }}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif  %}
    <form action="/" method="POST">
        <input type="text" name="content" id = 'content'>
        <input type='submit' value = 'Add Task'>
    </form>-->
</div>
{% endblock %}

